<nav class="sidebar d-flex flex-column p-3">
  <div class="d-flex align-items-center mb-4">
    <i class="bi bi-truck-front fs-4 me-2"></i>
    <span class="fs-4 fw-bold">FleetPro</span>
  </div>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngIf="can('dashboard:read')">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
        <i class="bi bi-speedometer2 me-2"></i> Tableau de bord
      </a>
    </li>

    <li class="nav-item" *ngIf="can('vehicules:read')">
      <a routerLink="/vehicules" routerLinkActive="active" class="nav-link">
        <i class="bi bi-car-front me-2"></i> Vehicules
      </a>
    </li>

    <li class="nav-item" *ngIf="can('chauffeurs:read')">
      <a routerLink="/chauffeurs" routerLinkActive="active" class="nav-link">
        <i class="bi bi-person-badge me-2"></i> Chauffeurs
      </a>
    </li>

    <li class="nav-item" *ngIf="can('carburant:read')">
      <a routerLink="/carburant" routerLinkActive="active" class="nav-link">
        <i class="bi bi-fuel-pump me-2"></i> Carburant
      </a>
    </li>

    <li class="nav-item" *ngIf="can('maintenance:read')">
      <a routerLink="/maintenance" routerLinkActive="active" class="nav-link">
        <i class="bi bi-tools me-2"></i> Maintenance
      </a>
    </li>

    <li class="nav-item" *ngIf="can('documents:read')">
      <a routerLink="/documents" routerLinkActive="active" class="nav-link">
        <i class="bi bi-folder2-open me-2"></i> Documents
      </a>
    </li>

    <li class="nav-item" *ngIf="can('alertes:read')">
      <a routerLink="/alertes" routerLinkActive="active" class="nav-link d-flex align-items-center justify-content-between">
        <span><i class="bi bi-bell me-2"></i> Alertes</span>
        <span *ngIf="alertesActives() > 0" class="sidebar-badge">
          {{ alertesActives() > 99 ? '99+' : alertesActives() }}
        </span>
      </a>
    </li>

   <li class="nav-item" *ngIf="auth.currentUser()?.typeUtilisateur === 'CHAUFFEUR'">
  <a routerLink="/mes-missions" routerLinkActive="active" class="nav-link">
    <i class="bi bi-geo-alt me-2"></i> Mes missions
  </a>
</li>

<li class="nav-item" *ngIf="auth.currentUser()?.typeUtilisateur !== 'CHAUFFEUR'">
  <a routerLink="/toutes-missions" routerLinkActive="active" class="nav-link">
    <i class="bi bi-geo-alt me-2"></i> Toutes les missions
  </a>
</li>

    <li class="nav-item" *ngIf="can('admin:read')">
      <a routerLink="/admin" routerLinkActive="active" class="nav-link">
        <i class="bi bi-shield-lock me-2"></i> Admin
      </a>
    </li>
  </ul>

  <hr>

  <a *ngIf="can('parametres:read')" routerLink="/parametres" routerLinkActive="active" class="nav-link">
    <i class="bi bi-gear me-2"></i> Parametres
  </a>
  <button class="nav-link text-start border-0 bg-transparent" type="button" (click)="logout()">
    <i class="bi bi-box-arrow-right me-2"></i> Deconnexion
  </button>
</nav>
